<font size="4">
<p>&nbsp;</p>
	Dear,[$INVITEE_NAME$]</p>
<p>
	Assalam-wa-alikum, &nbsp;</p>
<font>	
<p>I have joined inikah.com , world's best Muslim matrimonial portal ,and got benefited. So I recommend you also to Join Inikah.com. &nbsp;</p>
<p>
	click here to join:</p>
<p style="margin: 0px; font-size: 13px; font-family: Monaco; color="blue">
	<a href="[$INVITATION_LINK$]">[$INVITATION_LINK$]</a> 

<p>Thanks & Regards,&nbsp;</p>
Your sincerely,&nbsp;<br/>
</font>
<font color="BLUE" size="4">
	[$INVITER_NAME$]
	</font></p>