<div class="row">
	<div class="span9 text-right">
	<a href='#'><label id=my></label></a>
	</div>
</div>

<script type="text/javascript">
	AUI().ready(function (A){
		Liferay.Service(
		  '/inikah-portlet.earning/get-earnings-text',
		  {
		  	userId: 10198
		  },
		  function(obj) {
		    A.one('#my').set('innerHTML','My Earnings: '+obj);
		 }
	);
	}); 
</script>