.register-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.portfolio-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.aui .display-down .checkbox {
	padding-top: 30px;
}

.chart-container {
	width: 50%;
}

.hideColumn{
	display: none;
}