.register-portlet .help-inline, .report-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.portfolio-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.aui .display-down .checkbox {
	padding-top: 30px;
}

.aui .register-portlet .control-group, .aui .report-portlet .control-group {
	margin-bottom: 12px;
}

.width-85 {
	width: 85px !important;
}

/*-----------------------------------
	For Menu Items 
-----------------------------------*/
.menu-portlet .taglib-header {
    margin-bottom:0px;
    width: 167px;
}

.menu-portlet ul{
    margin:0px;
    list-style: none outside none;
    padding: 0;
}

.menu-portlet ul li a, .menu-portlet ul li a:hover {
	background:url(../images/menu-bg.png) repeat-x scroll right -34px rgba(0, 0, 0, 0);
    border-left: 1px solid #C4C4C5;  
    cursor: pointer;
    list-style: none outside none;
    margin:-1px 0 0;
    line-height:35px;
    text-indent: 10px;
    transition: color 0.3s ease 0s;
    color: #777777;
    display:block;
    text-decoration:none;
    width:100%;
}

.menu-portlet ul .selected a, .menu-portlet ul .selected a:hover {
    background-position: right 0;
}

.aui .menu-portlet a:focus {
  	outline: none;
}

.dropdown-menu.merge {
    left: 30%;
    max-height: 100px;
    min-height: 55px;
    overflow-y: auto;
    top: 5%;
    width: 225px;
}

.dropdown-menu.merge li {
    padding-left: 5%;
}

.protfoliodropdown {
   	margin-top: 5px;
}