.register-portlet .help-inline, .report-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.portfolio-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.aui .display-down .checkbox {
	padding-top: 30px;
}

.aui .register-portlet .control-group, .aui .report-portlet .control-group {
	margin-bottom: 12px;
}

.width-85 {
	width: 85px !important;
}

/*-----------------------------------
	For Menu Items 
-----------------------------------*/
.menu-portlet .taglib-header {
    margin-bottom:0px;
    width: 167px;
}

.menu-portlet ul{
    margin:0px;
    list-style: none outside none;
    padding: 0;
}

.menu-portlet ul li a, .menu-portlet ul li a:hover {
	background:url(../images/menu-bg.png) repeat-x scroll right -34px rgba(0, 0, 0, 0);
    border-left: 1px solid #C4C4C5;  
    cursor: pointer;
    list-style: none outside none;
    margin:-1px 0 0;
    line-height:35px;
    text-indent: 10px;
    transition: color 0.3s ease 0s;
    color: #777777;
    display:block;
    text-decoration:none;
    width:100%;
}

.menu-portlet ul .selected a, .menu-portlet ul .selected a:hover {
    background-position: right 0;
}

.aui .menu-portlet a:focus {
  	outline: none;
}

.dropdown-menu-list {
    height: 195px;
    list-style: none outside none;
    margin: 0 !important;
    min-width: 160px;
    overflow: auto !important;
    z-index: 1000;
}

.dropdown-menu.merge {
    left: 30%;
    max-height: 100px;
    min-height: 55px;
    overflow-y: auto;
    top: 5%;
    width: 225px;
}

.dropdown-menu.merge li {
    padding-left: 5%;
}

.protfoliodropdown {
   	margin-top: 5px;
}

.table-col-purchasePrice, .table-col-currentPrice, .table-col-currentPrice, .table-col-gainLoss, .table-col-gainLossPercent,
.table-col-market_value, .table-col-bond_holdings_percent, .table-col-total_holdings_percent, .table-col-grandTotal,
.table-col-AT-MATURITY, .table-col-CALLABLE, .table-col-PUTABLE, .table-col-SINKABLE,
.table-col-0-2, .table-col-2-4, .table-col-4-6, .table-col-6-8, .table-col-8-10, .table-col-10-15, .table-col-15-90,
.table-col-purchaseQty, .table-col-amountOutstanding, .table-col-Transaction, .table-col-cashFlow, .table-col-currencyConversionRate, .table-col-cashFlowCurrency,
.table-col-purchasedMarketValue, .table-col-last_price, .table-col-purchaseDate1, .table-col-gain_loss, .table-col-income, .table-col-total_returns, .table-col-avg_holding_period_return,
.yui3-datatable-col-usd_invested, .yui3-datatable-col-market_value, .yui3-datatable-col-total_gain_loss, .yui3-datatable-col-gain_loss, .yui3-datatable-col-weight,
.yui3-datatable-col-market_value_in_currency, .yui3-datatable-col-capital_gain_loss, .yui3-datatable-col-fx_gain_loss {
	text-align: right !important;
	white-space: nowrap !important;
}