.register-portlet .help-inline, .report-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.portfolio-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.aui .display-down .checkbox {
	padding-top: 30px;
}

.hideColumn{
	display: none;
}

.aui .register-portlet .control-group, .aui .report-portlet .control-group {
	margin-bottom: 12px;
}