.month-selection select {
	width:90px;
}

.year-selection select {
	width:120px;
}

.mini-selection select {
	width:150px;
}

.quarter-width select {
	width:50px;
}

.quarter-width input {
	width:50px;
}

.month-selection-content {
	padding-left: 0;
	padding-right: 0;
}

.register-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.edit-portlet .help-inline {
    display: block;
    font-style: italic;
    color: maroon !important;
}

.plan-box .column-content  {
	border: 2px solid orange;
	text-align: center;
	margin-right: 10px;
}

/* --------------- */

.iddCode-selection select {
	width:70px;    
}

.iddCode-selection input {
	width:110px;
}
.salary-selection select {
    width:135px;    
}
.salary-selection input {
	width:120px;
}

.salary-selection div {
	margin-bottom:0px;
}

/* -----div padding ------*/
.aui .min .control-group {
	margin-bottom: 0;
}

.aui .display-down .checkbox {
	padding-top: 30px;
}